<!doctype html>
<html>
	<head>
		<meta charset= "UTF-8">
		<title>Winged Bullet</title>
	</head>
	<body align="center">
		<h1>Winged Bullet</h1>
		<p>Play the game below!</p>
		<div align="center">
			

	<embed width="700" height="500" base="https://external.kongregate-games.com/gamez/0000/6057/live/" src="https://external.kongregate-games.com/gamez/0000/6057/live/embeddable_6057.swf" type="application/x-shockwa
	ve-flash">
	</div>
	</body>
	<button> <%= link_to "Return", pages_CustomerHomepage_path %> </button>
</html>