<!doctype html>
<html>
	<head>
		<meta charset= "UTF-8">
		<title>Wild West Hangman</title>
	</head>
	<body align="center">
		<h1>Wild West Hangman</h1>
		<p>Play the game below!</p>
		<div align="center">
	
<script src="https://cdn.htmlgames.com/embed.js?game=WildWestHangman&amp;width=800&amp;height=480&amp;bgcolor=white"></script>
</div>
</body>
	<button> <%= link_to "Return", pages_CustomerHomepage_path %></button>
</html>